@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');


html, body {
	margin: 0;
	box-sizing: border-box;
	
	font-family: Lato, sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.02em;
}

#page-container {
	height: 100%;
	display: flex;
	flex-direction: column;

	--dark: #333;
	--light: #EEE;
	--medium: #CCC;
	--primary: #369;
	--secondary: #DCB; 
}

#page-container > * {
	padding: 1rem 2rem;
}

header {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	background-color: var(--primary);
	color: var(--light);
}

header a {
	color: var(--light);
	text-decoration: none;
}

header a:hover {
	color: var(--medium);
}

header h1 {
	font-size: 1.2em;
	font-weight: normal;
	font-family: verdana;
	display: flex;
	margin: 0; 
	padding: 0;
}

header button {
	border: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	font-size: 1.1em;
}


#menu {
	display: block;
	border-bottom: 2px solid var(--dark);
	background-color: var(--primary);
	color: var(--light);
	text-align: right;
}

#menu nav {
	display: flex;
	flex-direction: column;
}

#menu nav ul {
	list-style-type: none;
	padding: 0 0;
	margin: 0 0;
}

#menu nav ul > li {
	margin: 0;
	padding: 0;
	padding-top: 1em;
}

#menu nav ul > li > a {
	color: var(--light);
	text-decoration: none;
}

#menu nav ul > li > a:hover {
	color: var(--medium);
	text-decoration: underline;
}

header nav {
	display: inline-block;
	justify-content: space-evenly;
}

header nav ul {
	list-style-type: none;
	padding: 0 0;
	margin: 0 0;

	display: flex;
	flex-direction: row;
	align-items: space-between;
}

header nav ul > li {
	font-size: 0.9em;
	padding-left: 3em;
}


main {
	flex: 1;
	background-color: white;
	color: var(--dark);
}

main > * {
	margin-right: 2em;
}

main h1, h2, h3 {
	margin: 0;
	padding: 0;
	color: var(--primary);
	width: 100%;
	height: 1em;
}

main h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1em;
}

main h3 {
	font-size: 1.2em;
	font-weight: 400;
	margin-bottom: 1em;
	border-bottom: 0.1em solid var(--primary);
	padding-bottom: 0.3em;
}

main h3 {
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

section {
	margin-bottom: 2.5em;
}

footer {
	flex: 0;
	background-color: var(--dark);
	color: var(--light);
}


@media screen and (min-width: 700px) {
	header button {
		display: none;
	}

	header nav {
		display: flex;
	}
}

@media screen and (max-width: 699px) {
	header nav {
		display: none;
	}

	header button {
		display: flex;
	}
}


header {
	position: sticky;
}
