.oneshore.logo {

    font-family: Verdana, sans-serif;
    font-size: 1.75em;
    font-weight: lighter;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0;
    white-space: nowrap;
}

.oneshore.logo img {
    height: 1.0em;
    padding-left: 0.2em;
    padding-right: 0.15em;
}

.oneshore.logo span {
    font-size: 0.7em;
    padding-bottom: 0.2em;
}

.oneshore.logo span:first-of-type {
    color: var(--light);
}
.oneshore.logo span:last-of-type {
    color: var(--light);
}


section.hero {
    color: #369;
}

section.hero h2 {
    border: 0;
    padding-bottom: 1rem;
    text-decoration: none;
    font-family: verdana;
    font-size: 60px;
    font-weight: 700;
    max-width: 24ch;
}