body {
	--dark: #333;
	--light: #EEE;
	--medium: #CCC;
	--primary: #357;
    --primary-light: rgba(51, 85, 119, 0.75);
	--secondary: #DCB; 
}

.oneshore.logo {

    font-family: Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0;
    white-space: nowrap;
}

.oneshore.logo img {
    height: 1.0em;
    padding-left: 0.2em;
    padding-right: 0.15em;
}

.oneshore.logo span {
    font-size: 0.7em;
    padding-bottom: 0.2em;
}

.oneshore.logo span:first-of-type {
    color: var(--light);
}
.oneshore.logo span:last-of-type {
    color: var(--light);
}

section.topics ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: space-between;
}

section.topics ul li {
    padding-right: 2ch;
}


main a {
    text-decoration: none;
    color: var(--primary)
}

main a:hover {
    text-decoration: underline;
    color: var(--primary);
    /* font-weight: bold; */
}


section.hero {
    width: 100%;
}

section.hero h2 {
    border: 0;
    padding-bottom: 1rem;
    text-decoration: none;
    font-family: verdana;
    font-size: 48px;
    font-weight: 700;
    max-width: 20ch;
    color:#888;
}

section.hero h2 em {
    color: rgba(51, 85, 119, 0.85);;
    font-style: normal;
}


section.three-columns {
    border: 0;
}

section.three-columns ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    padding: 0;
    margin: 2em;
}

section.three-columns ul > li {
    border: 2px solid var(--primary);
    padding: 1em 2em;
    vertical-align: top;
    min-width: 14ch;
    padding: 2ch;
    text-align: center;
}
section.three-columns h3 {
    border: 0;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: Sego UI, Helvetica Neue, courier;
}